@use './utils/variables.scss' as *;
@import "./components/site-navigation";
@import "./components/hero-section";
@import "./components/usp-block";
@import "./components/items-grid";
@import "./components/list-team";
@import "./components/clients";
@import "./components/footer";
@import "./components/modal";




* {
    box-sizing: border-box;
}
* {
    padding: 0;
    margin: 0;
}

body {
    font-family: $fontFamily;
    background-color: $white;
    color: $textDark;
}
.section {
    padding: 94px 0;
}
.container {
    width: 1200px;
    margin: 0 auto;
}
.header-border {
    border-bottom: 1px solid $headerBorder;
}
.main-header {
    display: flex;
    align-items: center;
    padding: 24px 15px 25px;
}
.site-nav, 
.contact-links,
.main-nav {
    display: flex;
    align-items: center;
}
.hero-section-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}